<!DOCTYPE html>
<html lang="en">

<body>

  <%- include('header') -%>

    <div class="col m8 push-m2 l8 push-l2">
      <div class="row">
        <div class="col m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">ABOUT MENACE TO SOBRIETY</span>
              <p>We are a team of coders who's goal is to improve the lives of our community by assisting those who are unsure about their mental and emotional state and are not yet comfortable with seeking professional assistance. Mental health is extremely important to each of us and we appreciate the opportunity to promote recovery and positive lifestyles for people challenged by mental illness.
<br />
<br/>


                DISCLAIMER:
              </p>
            </div>
            <!-- <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>  -->
          </div>
        </div>

        <div class="col m4">
          <div class="card">
            <div class="card-image">
              <img src="img/alex.jpg">
              <a class="btn-floating white halfway-fab waves-effect waves-light red"><img src="img/GitHub.png"><i class="material-icons">add</i></a>
            </div>
            <br />
            <div class="card-content">
              <span class="card-title">ALEX</span>
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col m4">
          <div class="card">
            <div class="card-image">
              <img src="img/matt.jpg">
              <a class="btn-floating white halfway-fab waves-effect waves-light red"><img src="img/GitHub.png"><i class="material-icons">add</i></a>
            </div>
            <br />
            <div class="card-content">
              <span class="card-title">MAT</span>
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>

        <div class="col m4">
          <div class="card">
            <div class="card-image">
              <img src="img/nick.jpg">
              <a class="btn-floating white halfway-fab waves-effect waves-light red"><img src="img/GitHub.png"><i class="material-icons">add</i></a>
            </div>
              <br />
              <div class="card-content">
                <span class="card-title">NICK</span>
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col m4">
            <div class="card">
              <div class="card-image">
                <img src="img/terry.png">
                <a class="btn-floating white halfway-fab waves-effect waves-light red"><img src="img/GitHub.png"><i class="material-icons">add</i></a>
              </div>
              <br />
              <div class="card-content">
                <span class="card-title">Terry</span>
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
          </div>

          <div class="col m4">
            <div class="card">
              <div class="card-image">
                <img src="img/toy.jpg">
                <a class="btn-floating white halfway-fab waves-effect waves-light red"><img src="img/GitHub.png"><i class="material-icons">add</i></a>
              </div>
              <br />
              <div class="card-content">
                <span class="card-title">Toyosi</span>
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <%- include('footer') -%>

</body>

</html>
