<!DOCTYPE html>
<html lang="en">

<body>

  <%- include('header') -%>

    <div class="col m8 push-m2 l8 push-l2">
      <div class="row">
        <div class="col m6">
          <div class="card about blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">ABOUT MENACE TO SOBRIETY</span>
              <p>We are a team of coders who's goal is to improve the lives of our community by assisting those who are unsure about their mental and emotional state and are not yet comfortable with seeking professional assistance. Mental health is extremely important to each of us and we appreciate the opportunity to promote recovery and positive lifestyles for people challenged by mental illness.</p>
<br />
<br/>


              <span class="card-title">DISCLAMER</span>
                This information is not intended to be a substitute for professional medical advice, diagnosis or treatment. Always seek the advice of your physician or other qualified health provider with any questions about your medical condition. Do not disregard professional medical advice or delay seeking advice or treatment because of something you have read here. The views and information expressed on this website should not be taken as legitimate medical advice. On the contrary, we hope that you seek official medical or psychological help. That is the point!
              </p>
            </div>
            <!-- <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>  -->
          </div>
        </div>

        <div class="col m6">
          <div class="card about">
            <div class="card-image">
              <img src="img/nick.png">
              <a href="https://github.com/alexparris" class="btn-floating white halfway-fab waves-effect waves-light red"><img src="img/GitHub.png"><i class="material-icons">add</i></a>
            </div>
            <br />
            <div class="card-content">
              <span class="card-title">NICK</span>
              <p>Received my BA in Philosophy at UNT. I recently finished a masters degree at UTD in humanities (Philsophy) and I'm currently
              doing an internship to become a technical writer. I also dabble in computer languages, and I speak dog.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col m6">
          <div class="card about">
            <div class="card-image">
              <img src="img/matt.jpg">
              <a href="https://github.com/matlittle"class="btn-floating white halfway-fab waves-effect waves-light red"><img src="img/GitHub.png"><i class="material-icons">add</i></a>
            </div>
            <br />
            <div class="card-content">
              <span class="card-title">MAT</span>
              <p>Hello world, my name is Mathew Little. I'm currently working as a support technician for a software company, but have grandiose dreams of moving into a development role. Programming and Computer Science have always been a fascination of mine. I'm extremely excited to absorb all the information I can from this course, and hope to gain the knowledge and skill-set needed to propel my career into a production/development position. Some of my favorite hobbies are video games, watching football, attempting to learn programming languages, and tinkering with all sorts of different mechanical things. I love building and designing things from scratch, and it's part of what interests me so much about web and software development. The idea that I can create whatever I put my mind to has always drawn me to further my education so I can obtain a career that will allow me to do just that. </p>

            </div>
          </div>
        </div>

        <div class="col m6">
          <div class="card about">
            <div class="card-image">
              <img src="img/alex.jpg">
              <a  href="https://github.com/nickoliasxii"class="btn-floating white halfway-fab waves-effect waves-light red"><img src="img/GitHub.png"><i class="material-icons">add</i></a>
            </div>
              <br />
              <div class="card-content">
                <span class="card-title">ALEX</span>
              <p>I'm an aspiring web programmer and I hope to learn more every day to improve my skill and further my passion for both web design and good, efficient code. I live in Houston, TX where I wasn't born but was mostly raised. I live with my partner, Elizabeth, who is currently taking the prerequisite classes for medical school. We also share our home with two cats, Ike and Riley, who are currently most likely sleeping or eating. I have experience with Office 365 administration, Wordpress editing, office management, and studio arts. I graduated with a Bachelor of Science degree in Interdisciplinary Studies from University of Houston-Downtown and I hope to use it well by treating everything I learn as interdisciplinary. That is, recognizing that nothing is ever only one thing and that many different skills and approaches are useful to end up with the highest quality result.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col m6">
            <div class="card about">
              <div class="card-image">
                <img src="img/terry.png">
                <a href="https://github.com/TerryCrouch" class="btn-floating white halfway-fab waves-effect waves-light red"><img src="img/GitHub.png"><i class="material-icons">add</i></a>
              </div>
              <br />
              <div class="card-content">
                <span class="card-title">TERRY</span>
                <p> My name is Terry. I'm currently the Application Support Manager for a software company, who recently relocated from California to Texas. I've spent 18 years at my company learning to work through issues and find solutions to intricate problems with little to no information to go on. I'm now attempting to apply these skills to learning to be a full-stack web developer, with the end goal being to enhance my skill set, and be able to take on development tasks within my company. I'm a devoted family man--I'm a father of four, and a grandfather of one (so far!). I'm having more fun learning new things as I approach 50 years old than I ever thought possible.</p>
              </div>
            </div>
          </div>

          <div class="col m6">
            <div class="card about">
              <div class="card-image">
                <img src="img/toy.jpg">
                <a href="https://github.com/Toyosio" class="btn-floating white halfway-fab waves-effect waves-light red"><img src="img/GitHub.png"><i class="material-icons">add</i></a>
              </div>
              <br />
              <div class="card-content">
                <span class="card-title">TOYOSI</span>
                <p>Hello World, my name is Toyosi Olabisi. I have two kids, both boys. My oldest is eleven and my youngest is four. They are the cutest and most annoying kids EVER!! I love playing soccer, pottery and traveling . I actually played in Denmark and Norway when I was fifteen then my knees happened. So, now I just live vicariously through Mallory Pugh and company. I am the seventh of nine children which is a bit strange because I'm also the oldest. I was born in Nigeria and moved to Saudi Arabia when I was eight. I moved to Austin, Tx., where I attended boarding school when I was fifteen years old. I am currently attending UT Coding Bootcamp in order to improve my life.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <%- include('footer') -%>

</body>

</html>
