</main>
<footer class="page-footer">
  <hr>
  <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="col l12 s12 collapsible-header center-align" id="footer-btn">
        <p>
          <i class="tiny material-icons">arrow_drop_down</i>Kintsugi</p>
      </div>
      <div class="collapsible-body center-align" id="footer-body">
        <div class="row">
          <div class="col l4 s12">
            <h5>We're trying to make the world a better place by learning code and doing good things!</h5>
            <br>
            <h5>Disclaimer:</h5>
            <p id="disclaimer">This information is not intended to be a substitute for professional medical advice, diagnosis or treatment.
              Always seek the advice of your physician or other qualified health provider with any questions about your medical
              condition. Do not disregard professional medical advice or delay seeking advice or treatment because of something
              you have read here. The views and information expressed on this website should not be taken as legitimate medical
              advice. On the contrary, we hope that you seek official medical or psychological help. That is the point!</p>
          </div>
          <div class="col l4 s12">
            <h5>Table of Contents</h5>
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/about">About Us</a>
              </li>
              <li>
                <a href="/login">Login</a>
              </li>
            </ul>
          </div>
          <div class="col l4 s12">
            <h5>National Suicide Prevention Lifeline</h5>
            <br>
            <p>We can all help prevent suicide. The Lifeline provides 24/7, free and confidential support for people in distress,
              prevention and crisis resources for you or your loved ones, and best practices for professionals.</p>
            <br>
            <p>Please Call: 1-800-273-8255</p>
          </div>
    </li>
  </ul>

  <div class="footer-copyright">
    <p>Copyrite &copy; 2017 Made by Menace to Sobriety</p>
  </div>

</footer>

<!--Script Tags-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC67fOK2aq8gayOmVnHXgVg2Avt2obebcU&callback=initMap"></script>
<script src="js/init.js"></script>
<script src="js/survey.js"></script>


</body>
