    </main>
    <footer class="page-footer">
      <hr>
      <h5 class="center-align">About Kintsukuroi</h5>
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="col l12 s12 collapsible-header center-align" id="footer-btn">
            <p>Click here to explore more about the site!</p>
          </div>
          <div class="collapsible-body center-align">
            <p>We're trying to make the world a better place by learning code and doing good things!</p>
          </div>
        </li>
      </ul>

      <div class="footer-copyright amber lighten-4">
        <p class="black-text">Made by Group 2</p>
      </div>

    </footer>

    <!--Script Tags-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="js/init.js"></script>

  </body>