<footer class="page-footer">
    <hr>
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <h5>About Kintsukuroi</h5>
          <p>We're trying to make the world a better place by learning code and doing good things!</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <p>Made by Group 2</p>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="js/init.js"></script>