</main>
<footer class="page-footer">
  <hr>
  <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="col l12 s12 collapsible-header center-align" id="footer-btn">
        <p>
          <i class="tiny material-icons">arrow_drop_down</i>Kintsukuroi</p>
      </div>
      <div class="collapsible-body center-align" id="footer-body">
        <div class="row">
          <div class="col l6 s12">
            <h5>Footer Content</h5>
            <p>We're trying to make the world a better place by learning code and doing good things!</p>
          </div>

          <div class="col l4 offset-l2 s12">
            <h5>Table of Contents</h5>
            <ul>
              <li>
                <a href="/index">Home</a>
              </li>
              <li>
                <a href="/about">About Us</a>
              </li>
              <li>
                <a href="/login">Login</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </li>
  </ul>

  <div class="footer-copyright">
    <p>Made by Menace to Sobriety</p>
  </div>

</footer>

<!--Script Tags-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC67fOK2aq8gayOmVnHXgVg2Avt2obebcU&callback=initMap"></script>
<script src="js/init.js"></script>


</body>