<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kintsugi</title>
  <link href="/css/reset.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
  <body>
    <main>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a href="/"><img class="logo-image" src="/img/kintsugi.png"></a>
            <ul id="nav-mobile" class="right">
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </nav>
      </div>