<!DOCTYPE html>
<html lang="en">

    <%- include('header') -%>

      <div class="section" id="index-banner">
        <div class="container">
          <br><br>
          <div class="row center">
            <div class="col s12">
              <h3 class="header">Feeling broken? 
                <br><br>
                Feel like you have some excess emotional baggage you need checked?
                <br><br>
                Find the resources to start putting yourself back together by taking our survey!</h3>
            </div>
          </div>

          <!-- Modal Trigger -->
          <div class="row center">
            <a href="#questionnaire" id="questionnaire-start" class="waves-effect waves-light btn-large modal-trigger">Click here to get started!</a>
          </div>

        </div>
      </div>

      <!-- Modal Structure -->
      <div id="questionnaire" class="modal">
        <div class="modal-content">
          <%- include('questionnaire') -%>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect btn-flat">Nevermind</a>
        </div>
      </div>
          
    <%- include('footer') -%>

</html>