<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Kintsukuroi</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="login.html">Login</a></li>
      </ul>
    </div>
  </nav>
  <div class="section" id="index-banner">
    <div class="container">
      <br><br>
      <img id="logo" src="Kintsukuroi.png">
      <div class="row center">
        <div class="col s12">
        <h5 class="header col s12 m8 push-m2 l8 push-l2">Feeling broken?<br>Find the resources to start putting yourself back together by taking our survey!</h5>
      </div>
      </div>
      <div class="row center">
        <a href="" id="get-started" class="btn-large waves-effect waves-light">Click here to get started!</a>
      </div>
    </div>
  </div>


<!-- I don't like this footer...to be edited...
  <footer class="page-footer">
    <hr>
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <h5>About Kintsukuroi</h5>
          <p>We're trying to make the world a better place by learning code and doing good things!</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <p>Made by Group 2</p>
      </div>
    </div>
  </footer> -->


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
