<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Kintsukuroi</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="disabled" href="login.html">Login</a></li>
      </ul>
    </div>
  </nav>
  <div class="section">
    <div class="container">
      <div class="row ">
        <div class="col s12 m8 push-m2 l8 push-l2">
          <h2>Login</h2>
          <p>I knew you looked familiar.</p>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <i class="material-icons prefix">email</i>
                  <input id="icon_email" type="text" class="validate">
                  <label for="icon_email">Email Address</label>
                </div>
                <div class="input-field col s6">
                <i class="material-icons prefix">error</i>
                <input id="icon_password" type="password" class="validate">
                <label for="icon_password">Password</label>
                </div>
                <a class="waves-effect waves-light btn-large"><i class="material-icons left">check</i>Submit</a>
              </div>
            </form>
            <h5>Don't have an account? Just kidding, go take the questionnaire!</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- I don't like this footer...to be edited...
  <footer class="page-footer">
    <hr>
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <h5>About Kintsukuroi</h5>
          <p>We're trying to make the world a better place by learning code and doing good things!</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <p>Made by Group 2</p>
      </div>
    </div>
  </footer> -->


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
