
  <div class="section">
    <div class="container">
      <div class="row center">
        <div class="col s12 m8 push-m2 l8 push-l2">
          <h4 id="question">This is a question!</h4>
          <a class="waves-effect waves-light btn-large"><i class="material-icons left">thumb_down</i>False</a>
          <a class="waves-effect waves-light btn-large"><i class="material-icons left">thumb_up</i>True</a>
        </div>
      </div>
    </div>
  </div>