<!DOCTYPE html>
<html lang="en">

<%- include('header-logged') -%>

  <div class="section">
    <div class="container">
      <div class="row center-align">
        <div class="col s12 m10 push-m1 l10 push-l1">
          <h2>Resources</h2>
          <h5>Based on your responses, we think these might help you.</h5>
          <hr>

          <!-- Beginning of specific field descriptions -->
          <div class="row center-align spec-div" id="anxiety">
            <div class="col s12 m12 l12">
              <h4>We think you may be suffering from Generalized Anxiety Disorder</h4>
              <br>
              <p>People with generalized anxiety disorder (GAD) experience excessive anxiety and worry, often about health,
                family, money, or work. This worrying goes on every day, possibly all day. It disrupts social activities
                and interferes with work, school, or family. GAD is diagnosed in adults when they experience at least three
                of the symptoms below on more days than not for at least six months; only one symptom is required in children.
                Symptoms of GAD include the following: restlessness or feeling keyed up or on edge being easily fatigued
                difficulty concentrating or mind going blank irritability muscle tension sleep disturbance (difficulty falling
                or staying asleep, or restless, unsatisfying sleep)</p>
              <br>
              <p>Please visit the following sources for more information about the disorder:</p>
              <br>
              <ul>
                <li>
                  <a class="field-links" href="https://adaa.org/understanding-anxiety/generalized-anxiety-disorder-gad#">
                    <i class="tiny material-icons">open_in_new</i>Anxiety and Depression Association of America</a>
                </li>
                <br>
                <li>
                  <a class="field-links" href="https://images.pearsonclinical.com/images/assets/basc-3/basc3resources/DSM5_DiagnosticCriteria_GeneralizedAnxietyDisorder.pdf">
                    <i class="tiny material-icons">open_in_new</i>Pearson Clinical, DSM5 PDF</a>
                </li>
                <br>
                <li>
                  <a class="field-links" href="https://adaa.org/supportgroups">
                    <i class="tiny material-icons">open_in_new</i>Support Groups from ADAA</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row center-align spec-div" id="ptsd">
            <div class="col s12 m12 l12">
              <h4>We think you may be suffering from Post Traumatic Stress Disorder</h4>
              <br>
              <p>Diagnostic criteria for PTSD include a history of exposure to a traumatic event that meets specific stipulations
                and symptoms from each of four symptom clusters: intrusion, avoidance, negative alterations in cognitions
                and mood, and alterations in arousal and reactivity. The sixth criterion concerns duration of symptoms; the
                seventh assesses functioning; and, the eighth criterion clarifies symptoms as not attributable to a substance
                or co-occurring medical condition.</p>
              <br>
              <p>Please visit the following sources for more information about the disorder:</p>
              <br>
              <ul>
                <li>
                  <a class="field-links" href="https://www.ptsd.va.gov/">
                    <i class="tiny material-icons">open_in_new</i>National Center for PTSD</a>
                </li>
                <br>
                <li>
                  <a class="field-links" href="https://www.brainline.org/article/dsm-5-criteria-ptsd">
                    <i class="tiny material-icons">open_in_new</i>Brainline - DSM-5 Criteria for PTSD</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row center-align spec-div" id="adhd">
            <div class="col s12 m12 l12">
              <h4>We think you may be suffering from Attention-Deficit/Hyperactivity Disorder</h4>
              <br>
              <p>Adult attention-deficit/hyperactivity disorder (ADHD) is a mental health disorder that includes a combination
                of persistent problems, such as difficulty paying attention, hyperactivity and impulsive behavior. Adult
                ADHD can lead to unstable relationships, poor work or school performance, low self-esteem, and other problems.
                Though it's called adult ADHD, symptoms start in early childhood and continue into adulthood. In some cases,
                ADHD is not recognized or diagnosed until the person is an adult. Adult ADHD symptoms may not be as clear
                as ADHD symptoms in children. In adults, hyperactivity may decrease, but struggles with impulsiveness, restlessness
                and difficulty paying attention may continue.</p>
              <br>
              <p>Please visit the following sources for more information about the disorder:</p>
              <br>
              <ul>
                <li>
                  <a class="field-links" href="http://adhd-institute.com/assessment-diagnosis/diagnosis/dsm-5/">
                    <i class="tiny material-icons">open_in_new</i>National Center for PTSD</a>
                </li>
                <br>
                <li>
                  <a class="field-links" href="https://www.mayoclinic.org/diseases-conditions/adhd/symptoms-causes/syc-20350889">
                    <i class="tiny material-icons">open_in_new</i>Adult attention-deficit/hyperactivity disorder (ADHD)</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row center-align spec-div" id="depression">
            <div class="col s12 m12 l12">
              <h4>We think you may be suffering from Major Depressive Disorder</h4>
              <br>
              <p>A mental health disorder characterized by persistently depressed mood or loss of interest in activities, causing
                significant impairment in daily life.</p>
              <br>
              <p>Possible causes include a combination of biological, psychological, and social sources of distress. Increasingly,
                research suggests these factors may cause changes in brain function, including altered activity of certain
                neural circuits in the brain. The persistent feeling of sadness or loss of interest that characterizes major
                depression can lead to a range of behavioral and physical symptoms. These may include changes in sleep, appetite,
                energy level, concentration, daily behavior, or self-esteem. Depression can also be associated with thoughts
                of suicide. The mainstay of treatment is usually medication, talk therapy, or a combination of the two. Increasingly,
                research suggests these treatments may normalize brain changes associated with depression.
              </p>
              <br>
              <p>Please visit the following sources for more information about the disorder:</p>
              <br>
              <ul>
                <li>
                  <a class="field-links" href="https://adaa.org/understanding-anxiety/depression/symptoms">
                    <i class="tiny material-icons">open_in_new</i>Anxiety and Depression Association of America</a>
                </li>
                <br>
                <li>
                  <a class="field-links" href="https://images.pearsonclinical.com/images/assets/basc-3/basc3resources/DSM5_DiagnosticCriteria_MajorDepressiveDisorder.pdf">
                    <i class="tiny material-icons">open_in_new</i>Pearson Clinical, DSM5 PDF</a>
                </li>
                <br>
                <li>
                  <a class="field-links" href="https://adaa.org/supportgroups">
                    <i class="tiny material-icons">open_in_new</i>Support Groups from ADAA</a>
                </li>
              </ul>
            </div>
          </div>


          <hr>
          <div class="row">
            <h4>Here is a map of doctors in your area that may be able to help you!</h4>
            <div class="col s12 m12 l12">
              <div id="map-container" class="container">

                <div id="map"></div>

              </div>
            </div>
          </div>
          <!--END MAP-->

          <!-- START OF RESOURCE CARDS AND BLURBS -->
          <div class="row center-align">
            <div class="col s12 m12 l12">
              <div class="card medium">
                <div class="card-content">
                  <span class="card-title">Therapy</span>
                  <p>There may be a lot of stigma behind getting help. I think we've all heard the phrase, "Just pull yourself
                    up by your bootstraps, and move on!" Well, we know that to be absolute crap. Please, seek help. There
                    are many, free or low cost ways to seek help for your mental health.</p>
                </div>
                <div class="card-tabs">
                  <ul class="tabs tabs-fixed-width">
                    <li class="tab">
                      <a href="#test1">Open Path Collective</a>
                    </li>
                    <li class="tab">
                      <a class="active" href="#test2">Open Counseling</a>
                    </li>
                    <li class="tab">
                      <a href="#test3">Instawell</a>
                    </li>
                  </ul>
                </div>
                <div class="card-content">
                  <div id="test1">
                    <p>Founded in 2012, and launched in the spring of 2013, Open Path Psychotherapy Collective is a nationwide
                      network of mental health professionals dedicated to providing in-office mental health care—at a steeply
                      reduced rate—to individuals, couples, children, and families in need. Since their founding, Open Path
                      has matched more than 9,000 clients across the country to affordable psychotherapeutic care. Additionally,
                      Open Path has had over 20,000 students sign on to take one of their affordable online wellness classes.</p>
                    <div class="card-action">
                      <a href="https://openpathcollective.org/" target="_blank">
                        <i class="tiny material-icons">open_in_new</i>Open Path Collective</a>
                    </div>
                  </div>

                  <div id="test2">
                    <p>Another option for finding affordable counseling.</p>
                    <div class="card-action">
                      <a href="https://www.opencounseling.com/" target="_blank">
                        <i class="tiny material-icons">open_in_new</i>Open Counseling</a>
                    </div>
                  </div>
                  <div id="test3">
                    <p>Instawell is the place where you can chat privately and anonymously about whatever's on your mind. Vent
                      your frustrations, talk through a big decision, or simply chat when you're feeling alone. You can connect
                      with thousands of Helpers from a variety of backgrounds and experiences.</p>
                    <br>
                    <br>
                    <p>They also have mobile apps for Android and Apple</p>
                    <div class="card-action">
                      <a href="https://instawell.com/welcome" target="_blank">
                        <i class="tiny material-icons">open_in_new</i>InstaWell</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="row center-align">
            <div class="col s12 m12 l12">
              <div class="card medium">
                <div class="card-content">
                  <span class="card-title">Guided Meditation</span>
                  <p>Meditation is a really helpful activity that can help with many problems, but especially those of the mind!</p>
                </div>
                <div class="card-tabs">
                  <ul class="tabs tabs-fixed-width">
                    <li class="tab">
                      <a href="#test4">UCLA Mindful Meditations</a>
                    </li>
                    <li class="tab">
                      <a class="active" href="#test5">Headspace</a>
                    </li>
                  </ul>
                </div>
                <div class="card-content">
                  <div id="test4">
                    <p>A free, guided introduction to mindfulness meditation that you can practice on your own provided by UCLA
                      Health.
                    </p>
                    <div class="card-action">
                      <a href="http://marc.ucla.edu/mindful-meditations" target="_blank">
                        <i class="tiny material-icons">open_in_new</i>UCLA Mindful Meditations</a>
                    </div>
                  </div>

                  <div id="test5">
                    <p>A website that provides guided meditation and mindfulness exercises. They have mobile apps for both Android
                      and Apple, so you can learn to meditate wherever, whenever.</p>
                    <br>
                    <br>
                    <p>"A personal meditation guide, right in your pocket"
                    </p>
                    <div class="card-action">
                      <a href="https://www.headspace.com/" target="_blank">
                        <i class="tiny material-icons">open_in_new</i>Headspace</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row center-align">
            <div class="col s12 m12 l12">
              <div class="card small">
                <div class="card-content">
                  <h4>Don't think you can afford help?</h4>
                  <br>
                  <h5>It doesn't matter.</h5>
                  <p>Please read this blog post about why!</p>
                  <div class="card-action">
                    <a href="http://careforyourmind.org/what-to-do-when-you-cant-afford-therapy/#more-1447" target="_blank">
                      <i class="tiny material-icons">open_in_new</i>YOU CAN AFFORD IT</a>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- End Resources -->
        </div>
      </div>

      <p id="main-specialty"><%= type %></p>

      <%- include('footer') -%>

</html>