<!DOCTYPE html>
<html lang="en">

<%- include('header') -%>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col s12 m8 push-m2 l8 push-l2">
          <h2>Resources</h2>
          <h5>Based on your responses, we think these might help you.</h5>
          <!-- MAY WANT TO ADD FIELD IN THIS HEADER -->

          <!-- <div class="row">
            <div class="col s12 m6 push-m3 l6 push-l3">
              <div class="card">
                <div class="card-content">
                  <span class="card-title">Guided Meditation</span>
                  <p>An introduction to mindfulness meditation that you can practice on your own.</p>
                </div>
                <div class="card-action">
                  <a href="http://marc.ucla.edu/mindful-meditations">UCLA Mindful Meditations</a>
                </div>
              </div>
              <div class="card">
                <div class="card-content">
                  <span class="card-title">Guided Meditation</span>
                  <p>An introduction to mindfulness meditation that you can practice on your own.</p>
                </div>
                <div class="card-action">
                  <a href="http://marc.ucla.edu/mindful-meditations">UCLA Mindful Meditations</a>
                </div>
              </div>

            </div>
        </div>
        -->

          <!--BEGIN MAP-->

          <div class="container">

          </div>
          <div id="map"></div>
        </div>

        <!--END MAP-->

        <!-- START LIST OF RESOURCE BUTTONS AND BLURBS -->
        <div class="row">
          <div class="col s12 m6 push-m3 l6 push-l3">
            <div class="card">
              <div class="card-content center-align">
                <span class="card-title">Guided Meditation</span>
                <p>Meditation is a really helpful activity that can help with many problems.</p>
              </div>
              <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                  <li class="tab">
                    <a href="#test4">UCLA Mindful Meditations</a>
                  </li>
                  <li class="tab">
                    <a class="active" href="#test5">Headspace</a>
                  </li>
                  <li class="tab">
                    <a href="#test6">Test 3</a>
                  </li>
                </ul>
              </div>
              <div class="card-content grey lighten-4">
                <div id="test4">A free, guided introduction to mindfulness meditation that you can practice on your own provided by UCLA
                  Health.
                  <div class="card-action">
                    <a href="http://marc.ucla.edu/mindful-meditations">UCLA Mindful Meditations</a>
                  </div>
                </div>

                <div id="test5">A website that provides guided meditation and mindfulness exercises. They have mobile apps for both Android and Apple, so you can learn to meditate wherever, whenever.
                  -"A personal meditation guide, right in your pocket"
                  <div class="card-action">
                    <a href="https://www.headspace.com/">Headspace</a>
                  </div>
                </div>
                <div id="test6">Test 3</div>
              </div>
            </div>
          </div>
        </div>


        <!-- End Resources -->
      </div>
    </div>
  </div>
  </div>

  <%- include('footer') -%>

</html>